/* Define the scrolling window, best left alone unless you want scroll area less than full-screen */

.window {
      width:1024px;
      height:768px;
      overflow: auto;
}

/* Put your styles here */

body {
	margin:0;
 	background: #eee;
	color: #111;
	font-size: 1.5em;
	line-height: 1.6em;
  background: rgb(24,24,24);
  color:#fefefe;
}

a, a:active, a:visited {
  	color: #99f;
}

.content {
    padding: 60px 0 0;
    /* to avoid overlapping the fixed 'close' button on the widget, 
    content requires a minimum padding-top: 30px; padding-left: 30px; */
}

.heading {
  background: rgb(24,24,24);
  height: 100px;
}

.heading .logo {
  max-width: 200px;
  padding-left:50px;
  padding-top:30px;
}

.content-area {
  height: 670px;
  overflow: scroll;
}

.classlist{}
.classlist .class-item {
  width: 90%;
  position: relative;
  outline: 1px solid #333333;
  background: rgb(58, 68, 12);
  background-size: cover;
  height: 200px;
  margin: 17px auto;
}
.classlist .class-name{
  position: relative;
  top: 90px;
  border-bottom: 1px solid #fff;
  margin: 6px 22px;
  font-weight: 100;
  font-size: 40px;
  padding-bottom: 10px;
}
.classlist .class-title{
  position: relative;
  top: 94px;
  font-weight: 100;
  margin: 0 22px;
}


#classModal {}
#classModal p.info {color:#333;}



h1,
h2,
h3,
h4,
h5,
h6{
  color:#dd1b16;
}

.example{
  padding: 1em;
  max-width:768px;
}

.code{
  padding: 2em 0;
  background:white;
}

.code img{
  max-width:100%;
  height:auto;
  margin:0 auto 4em;
  display:block;
  padding:0;
  border-radius:5px;
  -webkit-border-radius:5px;
  --moz-border-radius: 5px;
}

input{
  font-size:24px;
}

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item {display:block;}

.repeated-item.ng-enter, .repeated-item.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}


/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*sam styling*/

.pop-up-title{
    color: #fff;
}

.pop-up-item{
    width: 100%!important;
    margin: 0!important;
    margin-top: -6px!important;
    padding: 0!important;
}

div#classModal.reveal-modal.open{
    width: 90%!important;
    padding: 0px!important;
    background: rgb(10, 10, 10);
}

#classModal p.info{
    width: 90%;
    margin: auto;
    color: #fff;
    padding-top: 2%;
    font-weight: 100;
    color: #ddd;
}

.pop-up-body{
    claer: both;
    padding-bottom: 2%;
}

img.exit{
    width: 18%;
    float: right;
    margin-top: 4%;
}

div.class-name.ng-binding{
    font-weight: 500;
}

.heading{
    width: 93%;
}

div.filters{
    float: right;
    padding-left: 50px;
    padding-top: 24px;
    font-weight: 100;
    font-size: .7em;
}

div.filters span{
    padding-left: 15px;
}

span.pop-up-categories{
    font-size: 1.3em;
    font-weight: 400;
    color: #fff;
}